*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* styling container */
main.container{
    display: flex;
}

/* styling sidebar */
main .side-bar{
    width: 250px;
    height: calc(100vh - 100px);
    /* debugging */
    background-color: black;
}

/* styling song-container */
main .song-container{
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    overflow: auto;
    /* debugging */
    background-color: rgb(20, 25, 34);
}

/* styling upgrade-bar */
.song-container .upgrade-bar{
    width: 100%;
    height: 100px;
    opacity: .8;
    background-color: rgb(8, 11, 18);
}

/* styling upgrade button */
.btn.btn-upgrade{
    float: right;
    padding: 10px 30px;
    margin: 30px 10px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(8, 11, 18);
}

/* styling navbar */
ul.ul-navbar{
    text-align: center;
}

ul.ul-navbar :first-child{
    border-bottom: 3px solid rgb(173, 255, 47);
}

li.li-navbar{
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: grey;
}

/* styling row */
.row{
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}
.row .row-title{
    color: white;
}

/* styling songs'box container */
.row .box-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.box-container::after{
    content: "";
    display: table;
    clear: both;
}

.box-container .box{
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
}

img.img.box-img{
    width: 100%;
}

img.img.box-img.round{
    border-radius: 50%;
}

.box-text{
    text-align: center;
    font-size: 15px;
    color: white;
}

.box-subtitle{
    margin: 10px 0;
    text-align: center;
    font-size: 10px;
    color: grey;
}

.second-title{
    margin-top: 5px;
    font-size: 10px;
    color: grey;
}

/* main responsive part */
@media all and (max-width: 1250px){
    .box-container .box{
        width: calc(100% / 4 - 10px);
    }
}
@media all and (max-width: 600px){
    .box-container .box{
        width: calc(100% / 2 - 10px);
    }
}

/* stayling sidebar */
.side-bar .side-bar-container{
    height: calc(100vh - 120px);
    margin: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* debugging */
    background-color: green;
}

.side-bar-logo{
    width: 60%;
}

/* styling sidebar nav */
.ul-side-bar{
    margin-top: 20px;
    background-color: red;
}

.li-side-bar{
    color: grey;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.nav-icon{
    width: 25px;
    filter: invert(53%) sepia(9%) saturate(14%) hue-rotate(357deg) brightness(93%) contrast(81%);
}

.ul-playlist{
    list-style-type: none;
    overflow: auto;
}
.li-playlist{
    color: grey;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}

/* styling sidebar playlist */
.side-bar-playlist{
    margin-top: 30px;
    /* debugging */
    background-color: blue;
}

.side-bar-playlist-title{
    display: block;
    color: white;
    font-weight: bold;
}

.side-bar-playlist-add{
    font-weight: bold;
    color: grey;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.fa-plus-square{
    font-size: 40px;
    margin-right: 10px;
}

.side-bar-user{
    margin-bottom: 10px;
}

.install-app{
    color: grey;
    font-weight: bold;
    border-bottom: 2px solid grey;
    padding: 5px 0;
    display: flex;
    align-content: center;
}

.install-app img{
    margin-right: 5px;
    width: 20px;
    filter: invert(53%) sepia(9%) saturate(14%) hue-rotate(357deg) brightness(93%) contrast(81%);
}
.user-img-container{
    display: inline-block;
    border-radius: 30px;
    margin-right: 5px;
    background-color: grey;
}
.user img{
    width: 20px;
    padding: 2px 3px;
}
.user{
    margin: 10px 0 0 5px;
    color: white;
    font-weight: bold;
}

/* styling player */
.player{
    height: 100px;
    /* debugging */
    background-color: rebeccapurple;
}

